body{
    font-family: Arial, Helvetica, sans-serif;
}

.calendar{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap:20px;
    margin: 20px auto;
    width: 860px;
    user-select: none;
}
.day:hover{
    background-color: lightcyan;
}
.day.busy{
    background-color: pink;
}
.current{
    border: 1px solid black;
}

.popup{
    position: absolute;
    top: 40px;
    left: 50%;
    translate: -50%;
    background-color: white;
    border: 1px solid grey; 
    box-shadow: 4px 5px 2px rgba(150,150,150,0.5);
    width: 500px;
    height: 500px;
}

.close_button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><line x1='4' y1='4' x2='14' y2='14' stroke='black' stroke-width='2'/><line x1='14' y1='4' x2='4' y2='14' stroke='black' stroke-width='2'/></svg>");
}

.title{
    height: fit-content;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.eventsTable{
    margin: 10px;
}

.eventsTable>tr>td{
    padding: 5px;
}